.home{
    margin-left: 20%;
    padding-inline: 4%;
    background-color: rgb(163, 206, 218);
    padding-top: 2.5%;
    
 }
 #home{
    background-color: rgb(163, 206, 218);

 }
 .top{
     display: flex;
     flex-wrap: wrap;
 }
 .order{
     margin-top: 5%;
 }